@import "_normalize.scss";
@import "_layout.scss";

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 1.8rem;
	line-height: 1.6;
	color: #333;
	min-height: 100%;
}

.ba-container {
	max-width: 1200px;
	background-color: #fff;
	padding: 4rem 7.5rem 4rem;
}

.title {
	text-transform: capitalize;
	margin-top: 0;
}
	
.ba-grid {	
	font-size: 0;
}